<center>
<h3><u>Add or Edit Your Bio</u>:</h3>
<form method="post" action="/user/bio">
<textarea name="bio" rows="12" cols="65"><%= @user.bio %></textarea>
<br>
<input type="submit" name="submit" id="submit" value="Submit">
</center>