<body>
<h3>Log In</h3>
<form method="POST" action="/login">
<input type="text" id="email" name="email" placeholder="email">
<br>
<input type="password" id="password" name="password" placeholder="password">
<br>
<input type="submit" id="submit" name="submit" value="submit">
</form>
</body>